@model ItemFormViewModel

@{
    ViewBag.Title = "Add Product";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <form asp-area="Admin" asp-action="Add" method="post" enctype="multipart/form-data">
            <div class="mb-3">
                <label asp-for="@Model.Title" class="form-label">Title</label>
                <input asp-for="@Model.Title" class="form-control" aria-required="true" />
                <span asp-validation-for="@Model.Title" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.Description" class="form-label">Description</label>
                <textarea asp-for="@Model.Description" class="form-control" aria-required="true" rows="5"></textarea>
                <span asp-validation-for="@Model.Description" class="text-danger"></span>
            </div>
            <div class="input-container">
                <label asp-for="@Model.ImageFile" class="w-40">Choose Image</label>
                <input type="file" asp-for="@Model.ImageFile" class="form-control">
                <span asp-validation-for="ImageFile"> </span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.Price" class="form-label">Price</label>
                <input asp-for="@Model.Price" class="form-control" aria-required="true" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.CategoryId" class="form-label">Category</label>
                <select asp-for="@Model.CategoryId" class="form-control">
                    @foreach (var category in @Model.Categories)
                    {
                        <option value="@category.Id">@category.Name</option>
                    }
                </select>
                <span asp-validation-for="@Model.CategoryId" class="text-danger"></span>
            </div>
            <div class="mb-3 align-content-center">
                <input class="btn btn-primary" type="submit" value="Create" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}