@model ItemIndexViewModel

@{
    ViewBag.Title = "Product Details";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />
<div class="container" style="display:inline">
    <div class="row">
        <div class="col-5">
            <img class="card-img-top" style="width: 30rem;"
                 src="@Url.Action("GetImage", "Home", new { imageName = Model.Image })" alt="House Image">
        </div>
        <div class="card col-7 border-0">
            <p style="font-size:25px;"><u>@Model.Title</u></p>
            <p>
                Price Per Month: 
                <b>$@Model.Price</b>
            </p>
            <p>@Model.Description</p>
            <p>Category: <b>@Model.Category</b></p>
            <div class="form-inline">
                @if (this.User.Identity?.IsAuthenticated ?? false)
                {
                    <a class="btn btn-warning" asp-controller="Item" asp-action="Edit"
                       asp-route-id="@Model.Id">Edit</a>
                    <partial name="_DeletePartial" />
                }
            </div>
        </div>
    </div>
</div>