@model CartFormViewModel

@{
    ViewBag.Title = "Products in Cart";
}

<h1 class="text-center">@ViewBag.Title</h1>
<hr />

@if (Model == null || !Model.Items.Any())
{
    <h2 class="text-center">There are no products in the cart yet!</h2>
    <div class="text-center">
        <img src="~/Images/EmtyCart.png" class="w-50 rounded mx-auto d-block" />
    </div>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Product</th>
                <th>Unit Price</th>
                <th>Quantity</th>
                <th></th>
                <th>Total Price</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Items)
            {
                <tr>
                    <td>
                        <button type="button" class="btn btn-link btn-product" data-bs-toggle="modal" data-bs-target="#modal-@item.ItemId">@item.Title</button>
                        <div class="modal fade" id="modal-@item.Id" tabindex="-1" aria-labelledby="modal-@item.Id-label" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-body text-center">
                                        <p class="h4" style="color:#077fa6">@item.Title</p>
                                        <p class="h4" style="color:#077fa6">Price: $@item.Price.ToString("f2")</p>
                                        <p><img src="~/Images/@item.Image" style="width: 18rem;"/></p>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>$@item.Price</td>
                    <td class="align-middle">
                        @if (item.Quantity <= 1)
                        {
                            <form asp-controller="Cart" asp-action="Decrease" asp-route-id="@item.Id" method="post" class="d-inline-block">
                                <button type="submit" class="btn btn-sm" disabled>
                                    <i class="fas fa-chevron-left fa-lg" style="color: #0771a6;"></i>
                                </button>
                            </form>
                        }
                        else
                        {
                            <form asp-controller="Cart" asp-action="Decrease" asp-route-id="@item.Id" method="post" class="d-inline-block">
                                <button type="submit" class="btn btn-sm">
                                    <i class="fas fa-chevron-left fa-lg" style="color: #0771a6;"></i>
                                </button>
                            </form>
                        }
                        <span>@item.Quantity</span>
                        <form asp-controller="Cart" asp-action="Increase" asp-route-id="@item.Id" method="post" class="d-inline-block">
                            <button type="submit" class="btn btn-sm">
                                <i class="fas fa-chevron-right fa-lg" style="color: #0771a6;"></i>
                            </button>
                        </form>
                        
                    </td>
                    <td>
                        <form asp-controller="Cart" asp-action="Remove" asp-route-id="@item.Id" method="post" class="me-2 mb-2">
                            <button type="submit" class="btn btn-sm ms-2">
                                <i class="far fa-times-circle fa-lg" style="color: #700000;"></i>
                            </button>
                        </form>
                    </td>
                    <td>$@item.TotalPrice.ToString("f2")</td>
                </tr>
            }
        </tbody>
    </table>

    <hr />

    <div class="d-flex justify-content-between align-items-center">
        <p class="h4 mb-0">Total: $@Model.TotalPrice.ToString("f2")</p>
        <dev class="d-inline-block">
            <a class="btn btn-warning btn-outline-secondary float-end" asp-controller="Order" asp-action="Checkout">Continue</a>
        </dev>
        
    </div>
}
