@model AllItemsQueryModel

@{
    ViewBag.Title = "All Products";
}


<div class="container">
    <h2>@ViewBag.Title</h2>
    <hr />

    <form method="get">
        <div class="row">
            <div class="col-md-12">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Title</th>
                            <th>Price</th>
                            <th>Image</th>
                            <th>Active</th>
                            <th>Actions</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in @Model.Items)
                        {
                            <tr>
                                <td>@item.Id</td>
                                <td>@item.Title</td>
                                <td>$@item.Price</td>
                                <td>
                                    <a href="#" data-bs-toggle="modal" data-bs-target="#imageModal-@item.Id">
                                        @item.Image
                                    </a>
                                </td>
                                <td>
                                    <button asp-controller="Item" asp-action="Enable" asp-route-id="@item.Id"
                                            class="btn btn-sm @((bool)item.IsActive! ? "btn btn-outline-secondary" : "btn-success")">
                                        @(((bool)item.IsActive! ? "Disable" : "Enable"))
                                    </button>
                                </td>
                                <td>
                                    <a asp-controller="Item" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning ">Edit</a>
                                </td>
                                <td>
                                    <partial name="_DeletePartial" model="@item" />
                                </td>
                            </tr>
                            <div class="modal fade" id="imageModal-@item.Id" tabindex="-1" aria-labelledby="imageModalLabel-@item.Id" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-body text-center">
                                            <img src="@Url.Action("GetImage", "Home", new { imageName = item.Image })" alt="Item Image" class="img-fluid" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </form>
</div>

@{
    int maxPage = (int)Math.Ceiling((double)Model.TotalItems /
    Model.ItemsPerPage);
}
<nav aria-label="Pagination" class="float-end">
    <ul class="pagination">
        <li class="page-item @(Model.CurrentPage == 1 ? "disabled" : "")">
            <a class="page-link" href="@Url.Action("Items", "Admin", new { currentPage = Model.CurrentPage - 1 })" tabindex="-1" aria-disabled="@(Model.CurrentPage == 1 ? "true" : "false")">Previous</a>
        </li>
        @for (int i = 1; i <= maxPage; i++)
        {
            <li class="page-item @(i == Model.CurrentPage ? "active" : "")">
                <a class="page-link" href="@Url.Action("Items", "Admin", new { currentPage = i })">@i</a>
            </li>
        }
        <li class="page-item @(Model.CurrentPage == maxPage ? "disabled" : "")">
            <a class="page-link" href="@Url.Action("Items", "Admin", new { currentPage = Model.CurrentPage + 1 })">Next</a>
        </li>
    </ul>
</nav>

