@model EditUserProfileViewModel

@{
    ViewBag.Title = "Profile";
}

<h2 class="text-center">@ViewBag.Title</h2>

<section>
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-lg-6 mb-4 mb-lg-0">
                <div class="card mb-3" style="border-radius: .5rem;">
                    <div class="row g-0">
                        <div class="col-md-4 text-center text-black"
                             style="border-top-left-radius: .5rem; border-bottom-left-radius: .5rem;">
                            <img src="~/Images/@Model.Image"
                                 alt="Avatar" class="img-fluid my-5" style="width: 7rem;" />
                            <h5>@Model.FirstName @Model.LastName</h5>
                        </div>
                        <div class="col-md-8">
                            <div class="card-body p-4">
                                <h6>Details</h6>
                                <hr class="mt-0 mb-4">
                                <div class="row pt-1">
                                    <div class="col-6 mb-3">
                                        <h6>Username</h6>
                                        <p class="text-muted">@Model.UserName</p>
                                    </div>
                                    <div class="col-6 mb-3">
                                        <h6>Email</h6>
                                        <p class="text-muted">@Model.Email</p>
                                    </div>
                                </div>
                                <hr class="mt-0 mb-4">
                                <div class="row pt-1">
                                    <div class="col-6 mb-3">
                                        <h6>Country</h6>
                                        <p class="text-muted">@Model.Country</p>
                                    </div>
                                    <div class="col-6 mb-3">
                                        <h6>City</h6>
                                        <p class="text-muted">@Model.City</p>
                                    </div>
                                    <div class="col-6 mb-3">
                                        <h6>Address</h6>
                                        <p class="text-muted">@Model.Address</p>
                                    </div>
                                    <div class="col-6 mb-3">
                                        <h6>Postal Code</h6>
                                        <p class="text-muted">@Model.PostCode</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="d-flex justify-content-center">
    <a asp-controller="User" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning ">Edit Profile</a>
</div>
